# QtCreator user settings
*.creator.user

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# SQL Server Compact
*.sdf
*.opensdf

